@charset "utf-8";

/* Modern Menu */
.modern-menu {
	width: 150px;
	height: 40px;
	background-color: #5D0BB4;
	font-family: "afta_serifregular", sans-serif;
	font-size: 18px;
	
	position: relative;
	
}
.modern-menu.mm-vertical {
	width: 320px;
	height: auto;
}

/* General reset */
.modern-menu, .modern-menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

	/* A button item */
	.modern-menu li {
		position: relative;
		margin-top: 4px;
		margin-left: 4px;
	}

	/* A button */
	.modern-menu a {
		height: 100%;
		text-decoration: none;
		display: block;
		position: relative;
		overflow: hidden;
		z-index: 101;
		border: none;
	}

	/* The label of a button */
	.modern-menu a span {
		color: #fafafa;
		background-color: #065e86;
		line-height: 40px;
		padding: 0 20px;
		display: block;
	}
	.modern-menu.mm-vertical a span {
		line-height: 36px;
	}
	.modern-menu .mm-over {
		color: #0099ff;
		background-color: #fafafa;
	}

	/* The label of a button with a dropdown */
	.mm-container.mm-drop span {
		padding-right: 15px;
	}

	/* A horizontal label container */
	.mm-horizontal span {
		float: left;
	}

	/* The label of a button with a dropdown */
	.mm-hdrop, .mm-hdrop-over, .mm-vdrop, .mm-vdrop-over {
		background-repeat: no-repeat;
		background-position: center right;
		padding-right: 20px;
	}
	.mm-hdrop {
		background-image: url("../images/hdrop.png");
	}
	.mm-hdrop-over {
		background-image: url("../images/hdrop-over.png");
	}
	.mm-vdrop {
		background-image: url("../images/vdrop.png");
	}
	.mm-vdrop-over {
		background-image: url("../images/vdrop-over.png");
	}

	/* A button on the right side */
	.modern-menu .mm-right {
		display: block;
		float: right;
	}

	/* The top buttons */
	.modern-menu > li {
		float: left;
	}
	.modern-menu.mm-vertical > li {
		float: none;
	}

	/* A group of buttons */
	.mm-group li {
		float: left;
	}
	.modern-menu .mm-group span {
		line-height: 40px;
	}

		/* The label of a subbutton */
		.modern-menu ul span {
			line-height: 36px;
		}

		/* A dropdown of a button */
		.modern-menu li > ul {
			width: 155px;
			font-size: 14px;
			position: absolute;
			left: -5000px;
			opacity: 0;
			z-index: 100;
		}

		/* A dropdown of a vertical menu */
		.mm-vertical li > ul {
			top: 0;
		}

		/* Dropdowns from level 2 onwards */
		.modern-menu ul ul {
			float: right;
			top: 0;
		}

	/* Icon buttons */
	.modern-menu .mm-icon span {
		width: 14px;
		height: 40px;
		background-repeat: no-repeat;
		background-position: center;
		padding: 0 18px;
	}
	.mm-vertical .mm-icon span {
		width: 10px;
	}

	/* Facebook button */
	.mm-facebook {
		background-image: url("../images/facebook.png");
	}
	.mm-facebook-over {
		background-image: url("../images/facebook-over.png");
	}

	/* Twitter button */
	.mm-twitter {
		background-image: url("../images/twitter.png");
	}
	.mm-twitter-over {
		background-image: url("../images/twitter-over.png");
	}

	/* Google Plus button */
	.mm-googleplus {
		background-image: url("../images/googleplus.png");
	}
	.mm-googleplus-over {
		background-image: url("../images/googleplus-over.png");
	}

	/* LinkedIn button */
	.mm-linkedin {
		background-image: url("../images/linkedin.png");
	}
	.mm-linkedin-over {
		background-image: url("../images/linkedin-over.png");
	}