@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&subset=latin,cyrillic-ext,latin-ext,cyrillic,greek-ext,greek,vietnamese);
@font-face {
	font-family: "basiccontrols";
	src: url("basiccontrols.eot?cssslidertheme=basic");
	src: url("basiccontrols.eot#iefix?cssslidertheme=basic") format("embedded-opentype"),
			url("basiccontrols.woff?cssslidertheme=basic") format("woff"),
			url("basiccontrols.ttf?cssslidertheme=basic") format("truetype"),
			url("basiccontrols.svg#basic?cssslidertheme=basic") format("svg");
	font-weight: normal;
	font-style: normal;
}

#g2 > .csslider2 {
	display: inline-block;
	position: relative;
	max-width: 350px;
	
	width: 100%;
	margin-top: 0px;
}
#g2 > .csslider2 > .cs_anchor2 {
	display: none;
}
#g2 > .csslider2 > ul {
	position: relative;
	z-index: 1;
	font-size: 0;
	line-height: 0;
	margin: 0 auto;
	padding: 0;
	
	overflow: hidden;
	white-space: nowrap;
}
#g2 > .csslider2 > ul > li.img img {
	width: 100%;
}
#g2 > .csslider2 > ul > li.img {
	font-size: 0pt;

	-khtml-user-select: none;
	-moz-user-select: none;
	user-select: none;
}
#g2 > .csslider2 > ul > li {
	position: relative;
	display: inline-block;
	width: 100%;
	height: 100%;
	overflow: hidden;
	font-size: 15px;
	font-size: initial;
	line-height: normal;
	white-space: normal;
	vertical-align: top;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	-ms-transform: translate3d(0,0,0);
	-o-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
#g2 > .csslider2 .cs_lnk{
	position: absolute;
	top: -9999px;
	left: -9999px;
	font-size: 0pt;
	opacity: 0;
	filter: alpha(opacity=0);
}
#g2 > .csslider2 > #cs_slide1_0:checked ~ ul > li.num4,
#g2 > .csslider2 > #cs_slide1_1:checked ~ ul > li.num5,
#g2 > .csslider2 > #cs_slide1_2:checked ~ ul > li.num6,
#g2 > .csslider2 > #cs_slide1_3:checked ~ ul > li.num7 {
	opacity: 1;
	z-index: 2;
}

#g2 > .csslider2 > ul > li {
	position: absolute;
	left: 0;
	top: 0;
	display: inline-block;
	opacity: 0;
	z-index: 1;
  
  	-webkit-transition: opacity 2000ms ease;
  	-moz-transition: opacity 2000ms ease;
  	-ms-transition: opacity 2000ms ease;
  	-o-transition: opacity 2000ms ease;
  	transition: opacity 2000ms ease;
  	
}
#g2 > .csslider2 > ul > li.num4 {
	opacity: 1;
	z-index: 2;
}
#g2 > .csslider2 > .slide:checked ~ ul > li.num4 {
	opacity: 0;
	z-index: 1;
}

/* calculate autoplay */
@-webkit-keyframes fade {
	0%, 35.20408163265306%, 100%	{ opacity: 0; z-index: 2; }
	10.204081632653061%, 25%	{ opacity: 1; z-index: 2; }
}
@-moz-keyframes fade {
	0%, 35.20408163265306%, 100%	{ opacity: 0; z-index: 2; }
	10.204081632653061%, 25%	{ opacity: 1; z-index: 2; }
}
@-ms-keyframes fade {
	0%, 35.20408163265306%, 100%	{ opacity: 0; z-index: 2; }
	10.204081632653061%, 25%	{ opacity: 1; z-index: 2; }
}
@-o-keyframes fade {
	0%, 35.20408163265306%, 100%	{ opacity: 0; z-index: 2; }
	10.204081632653061%, 25%	{ opacity: 1; z-index: 2; }
}
@keyframes fade {
	0%, 35.20408163265306%, 100%	{ opacity: 0; z-index: 2; }
	10.204081632653061%, 25%	{ opacity: 1; z-index: 2; }
}


#g2 > .csslider2 > #cs_play2:checked ~ ul > li.num4,
#g2 > .csslider2 > #cs_pause2:checked ~ ul > li.num4 {
	-webkit-animation: fade 19600ms infinite -2000ms;
	-moz-animation: fade 19600ms infinite -2000ms;
	-ms-animation: fade 19600ms infinite -2000ms;
	-o-animation: fade 19600ms infinite -2000ms;
	animation: fade 19600ms infinite -2000ms;
	
}
#g2 > .csslider2 > #cs_play2:checked ~ ul > li.num5,
#g2 > .csslider2 > #cs_pause2:checked ~ ul > li.num5 {
	-webkit-animation: fade 19600ms infinite 2900ms;
	-moz-animation: fade 19600ms infinite 2900ms;
	-ms-animation: fade 19600ms infinite 2900ms;
	-o-animation: fade 19600ms infinite 2900ms;
	animation: fade 19600ms infinite 2900ms;
	
}
#g2 > .csslider2 > #cs_play2:checked ~ ul > li.num6,
#g2 > .csslider2 > #cs_pause2:checked ~ ul > li.num6 {
	-webkit-animation: fade 19600ms infinite 7800ms;
	-moz-animation: fade 19600ms infinite 7800ms;
	-ms-animation: fade 19600ms infinite 7800ms;
	-o-animation: fade 19600ms infinite 7800ms;
	animation: fade 19600ms infinite 7800ms;
	
}
#g2 > .csslider2 > #cs_play2:checked ~ ul > li.num7,
#g2 > .csslider2 > #cs_pause2:checked ~ ul > li.num7 {
	-webkit-animation: fade 19600ms infinite 12700ms;
	-moz-animation: fade 19600ms infinite 12700ms;
	-ms-animation: fade 19600ms infinite 12700ms;
	-o-animation: fade 19600ms infinite 12700ms;
	animation: fade 19600ms infinite 12700ms;
	
}




#g2 > .csslider2 > #cs_play2:checked ~ ul > li,
#g2 > .csslider2 > #cs_pause2:checked ~ ul > li {
	-webkit-transition: none;
	-moz-transition: none;
	-ms-transition: none;
	-o-transition: none;
	transition: none;
	
}

#g2 > .csslider2.cs_pauseHover:hover > ul > li,
#g2 > .csslider2 > #cs_pause2:checked ~ ul > li{
	-webkit-animation-play-state: paused !important;
	-moz-animation-play-state: paused !important;
	-ms-animation-play-state: paused !important;
	-o-animation-play-state: paused !important;
	animation-play-state: paused !important;
}
/* stop */

/* /calculate autoplay */
/* hide description & bullets on mobile devices */
@media
only screen and (max-width: 480px),
only screen and (-webkit-max-device-pixel-ratio: 2)      and (max-width: 480px),
only screen and (   max--moz-device-pixel-ratio: 2)      and (max-width: 480px),
only screen and (     -o-max-device-pixel-ratio: 2/1)    and (max-width: 480px),
only screen and (        max-device-pixel-ratio: 2)      and (max-width: 480px),
only screen and (                max-resolution: 192dpi) and (max-width: 480px),
only screen and (                max-resolution: 2dppx)  and (max-width: 480px) { 
#g2 > .csslider2 > .cs_description,
#g2 > .csslider2 > .cs_bullets {
		display: none;
	}
}
